<!doctype html>
                <html lang="en">
                  <head>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                    crossorigin="anonymous">
                    <title>Варианты выбора</title>
                  </head>
                  <body>
                    <h1>Мое предложение: {{planet_name}}</h1>
                    <div class="alert alert-light"><h2>{{rows[0]}}</h2></div>
                    <div class="alert alert-success"><h2>{{rows[1]}}</h2></div>
                    <div class="alert alert-primary"><h2>{{rows[2]}}</h2></div>
                    <div class="alert alert-warning"><h2>{{rows[3]}}</h2></div>
                    <div class="alert alert-danger"><h2>{{rows[4]}}</h2></div>
                  </body>
                </html>